* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('images/bg.png');
    background-size: cover;
}

li {
    float: left;
    list-style: none;
}

ul {
    background-color: #2b2828;
    overflow: auto;
}

li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

li a:hover {
    background-color: #ffffff;
    color: #000000;
}

#intro .info {
    float: left;
    margin-left: 15%;
    margin-top: 10%;
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    opacity: 80%;
}

#intro .pic {
    width: 20%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
}

#intro .pic img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid orange;
}