* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header ul {
    background-color: #ffffff;
    overflow: hidden;
    border-bottom: 5px solid #1a6452;
}

header ul li {
    float: left;
    list-style: none;
}

header ul li a {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    padding: 20px;
    display: block;
}

header ul li a:hover {
    background-color: #000000;
    color: #ffffff;
}

header::before {
    clear: both;
}

.intro {
    float: left;
    margin-left: 20%;
    margin-top: 10%;
}

.intro h1,h2,h3 {
    color: #ffffff;
    padding: 10px;
}

.intro h1 {
    font-size: 3em;
}

.pic {
    float: left;
    width: 25%;
    margin-top: 6%;
    margin-left: 5%;
}

.pic img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #ffffff;
}