* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

header ul {
    background-color: #ffffff;
    overflow: hidden;
    border-bottom: 5px solid #000000;
}

header ul li {
    float: left;
    list-style: none;
}

header ul li a {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    padding: 20px;
    display: block;
}

header ul li a:hover {
    background-color: rgb(129, 0, 180);
    color: #ffffff;
}

header ul li a:hover i {
    color: white;
}

header::before {
    clear: both;
}

.intro {
    float: left;
    margin-left: 20%;
    margin-top: 10%;
}

.intro h1,h2,h3,p {
    color: #ffffff;
    margin-top: 5px;
}

.intro h1 {
    font-size: 3em;
}

.pic {
    float: left;
    width: 25%;
    margin-top: 6%;
    margin-left: 5%;
}

.pic img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

#myservice {
    margin-top: 10%;
    margin-bottom: 20px;
    background-image: url('bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}

#myservice .service {
    float: left;
    background-color: #000000;
    padding: 20px;
    color: #ffffff;
    width: 30%;
    margin-left: 3%;
    text-align: center;
    opacity: 90%;
    margin-top: 10px;
}

#myservice .service h1,p {
    padding: 10px;
}

#myservice .title {
    margin-left: 3%;
    font-size: 40px;
}

#myskills {
    background-color: #3333;
    padding-top: 40px;
    padding-bottom: 34px;
}

#myskills .title {
    margin-left: 3%;
    font-size: 50px;
    margin-bottom: 20px;
}

#myskills .skill {
    width: 10%;
    float: left;
    margin-left: 2%;
    text-align: center;
}

#myskills .skill img {
    width: 100%;
    transition-property: transform;
    transition-duration: 1s;
}

#myskills .skill img:hover {
    transform: rotate(360deg);
}

.purple {
    color: rgb(129, 0, 180);
}

.yellow {
    color: yellow;
}

.red {
    color: rgb(219, 0, 0);
}

.green {
    color: green;
}

#portfolio {
    background-image: url('bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}

#portfolio .title{
    margin-left: 3%;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 5%;   
}

#portfolio .work {
    width: 25%;
    float: left;
    margin-left: 3%;
    padding: 10px;
    background-color: black;
    margin-top: 10px;
    opacity: 90%;
}

#portfolio .work img {
    width: 100%;
}

#portfolio .work h1 {
    margin-top: 6px;
    color: white;
}

#portfolio .work p {
    margin-top: 6px;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.copyright {
    padding: 30px;
    text-align: center;
    background: #1e1d1d;
    margin-top: 0;
}

footer .connects {
    margin-top: 5%;
    word-spacing: 40px;
}

footer .address {
    margin-top: 2%;
}

.fixed-button {
    position: fixed;
    right: 1%;
    bottom: 2%;
    font-size: 40px;
    color: black;
}